<!DOCTYPE html>
<html lang="en">
<!--================================================================================
  Item Name: Materialize - Material Design Admin Template
  Version: 1.0
  Author: GeeksLabs
  Author URL: http://www.themeforest.net/user/geekslabs
================================================================================ -->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ">
    <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">
    <title>Forms Layouts | Materialize - Material Design Admin Template</title>
    <!-- Favicons-->
    <link rel="icon" href="images/favicon/favicon-32x32.png" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="images/favicon/apple-touch-icon-152x152.png">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
    <!-- For Windows Phone -->
    <!-- CORE CSS-->
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection">
    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="css/prism.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="js/plugins/chartist-js/chartist.min.css" type="text/css" rel="stylesheet" media="screen,projection">
</head>

<body>
    <!-- Start Page Loading -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START HEADER -->
    <header id="header" class="page-topbar">
        <!-- start header nav-->
        <div class="navbar-fixed">
            <nav class="cyan">
                <div class="nav-wrapper">
                    <h1 class="logo-wrapper"><a href="index.html" class="brand-logo darken-1"><img src="images/materialize-logo.png" alt="materialize logo"></a> <span class="logo-text">Materialize</span></h1>
                    <ul class="right hide-on-med-and-down">
                        <li class="search-out">
                            <input type="text" class="search-out-text">
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect waves-block waves-light show-search"><i class="mdi-action-search"></i></a>
                        </li>
                        <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen"><i class="mdi-action-settings-overscan"></i></a>
                        </li>
                        <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light"><i class="mdi-social-notifications"></i></a>
                        </li>
                        <!-- Dropdown Trigger -->
                        <li><a href="#" data-activates="chat-out" class="waves-effect waves-block waves-light chat-collapse"><i class="mdi-communication-chat"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- end header nav-->
    </header>
    <!-- END HEADER -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START MAIN -->
    <div id="main">
        <!-- START WRAPPER -->
        <div class="wrapper">
            <!-- START LEFT SIDEBAR NAV-->
            <aside id="left-sidebar-nav">
                <ul id="slide-out" class="side-nav fixed leftside-navigation">
                    <li class="user-details cyan darken-2">
                        <div class="row">
                            <div class="col col s4 m4 l4">
                                <img src="images/avatar.jpg" alt="" class="circle responsive-img valign profile-image">
                            </div>
                            <div class="col col s8 m8 l8">
                                <ul id="profile-dropdown" class="dropdown-content">
                                    <!-- <li><a href="#"><i class="mdi-action-face-unlock"></i> Profile</a>
                                    </li>
                                    <li><a href="#"><i class="mdi-action-settings"></i> Settings</a>
                                    </li>
                                    <li><a href="#"><i class="mdi-communication-live-help"></i> Help</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#"><i class="mdi-action-lock-outline"></i> Lock</a>
                                    </li> -->
                                    <li><a href="#"><i class="mdi-hardware-keyboard-tab"></i> Logout</a>
                                    </li>
                                </ul>
                                <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown">John Doe<i class="mdi-navigation-arrow-drop-down right"></i></a>
                                <p class="user-roal">Administrator</p>
                            </div>
                        </div>
                    </li>
                    <li class="bold"><a href="index.html" class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> Dashboard</a>
                    </li>
                    <li class="no-padding">
                        <ul class="collapsible collapsible-accordion">
                            <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-social-person"></i> Inspectors</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="inspector_create.html">Create New</a>
                                        </li>
                                        <li><a href="inspector_view.html">View All</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="bold"><a class="collapsible-header  waves-effect waves-cyan"><i class="mdi-action-settings"></i> Facility</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="ui-buttons.html">Create New</a>
                                        </li>
                                        <li><a href="ui-badges.html">View All</a>
                                        </li>
                                        <li><a href="ui-cards.html">Commercial Centres</a>
                                        </li>
                                        <li><a href="ui-collections.html">Workers</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="bold"><a class="collapsible-header  waves-effect waves-cyan"><i class="mdi-editor-attach-money"></i> Penalties</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="table-basic.html">Create New</a>
                                        </li>
                                        <li><a href="table-data.html">View All</a>
                                        </li>
                                        <li><a href="table-data.html">Category</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="bold"><a class="collapsible-header  waves-effect waves-cyan"><i class="mdi-action-done"></i> Checklist Templates</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="form-elements.html">Create New</a>
                                        </li>
                                        <li><a href="form-layouts.html">View All</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="bold"><a class="collapsible-header  waves-effect waves-cyan"><i class="mdi-action-history"></i> Audits</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="page-login.html">Schedule Audit</a>
                                        </li>
                                        <li><a href="page-register.html">View All</a>
                                        </li>
                                        <li><a href="page-lock-screen.html">Auto Schedule</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="bold"><a class="collapsible-header  waves-effect waves-cyan"><i class="mdi-editor-attach-money"></i> Trainings</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="page-login.html">Schedule Trainings</a>
                                        </li>
                                        <li><a href="page-register.html">View All</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-editor-insert-chart"></i> Graphs</a>
                            </li>
                            <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-settings-power"></i> Logout</a>
                            </li>
                            <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-language"></i> Arabic</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only darken-2"><i class="mdi-navigation-menu" ></i></a>
            </aside>
            <!-- END LEFT SIDEBAR NAV-->
            <!-- //////////////////////////////////////////////////////////////////////////// -->
            <!-- START CONTENT -->
            <section id="content">
                <!--breadcrumbs start-->
                <div id="breadcrumbs-wrapper" class=" grey lighten-3">
                    <div class="container">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <h5 class="breadcrumbs-title">Forms</h5>
                                <ol class="breadcrumb">
                                    <li><a href="index.html">Dashboard</a>
                                    </li>
                                    <li><a href="#">Forms</a>
                                    </li>
                                    <li class="active">Forms Layouts</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!--breadcrumbs end-->
                <!--start container-->
                <div class="container">
                    <div class="section">
                        <!-- <p class="caption">Create New Inspector</p>

            <div class="divider"></div> -->
                    </div>
                    <!--Form Advance-->
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="card-panel">
                                <h4 class="header2">Create New Inspector</h4>
                                <div class="row">
                                    <form class="col s12">
                                        <!-- Inspector ID -->
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input id="inspector_id" type="text">
                                                <label for="inspector_id">Inspector ID</label>
                                            </div>
                                        </div>
                                        <!-- National Identification No/Iqama Number -->
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input id="iqama_number" type="text">
                                                <label for="iqama_number">National Identification No/Iqama Number</label>
                                            </div>
                                        </div>
                                        <!-- Inspector Name -->
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input id="inspector_name" type="text">
                                                <label for="inspector_name">Inspector Name</label>
                                            </div>
                                        </div>
                                        <!-- Email -->
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input id="email" type="email">
                                                <label for="email">Email</label>
                                            </div>
                                        </div>
                                        <!-- Inspector Login ID -->
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input id="inspector_login_id" type="text">
                                                <label for="inspector_login_id">Inspector Login ID</label>
                                            </div>
                                        </div>
                                        <!-- Login Password -->
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input id="inspector_password" type="password">
                                                <label for="inspector_password">Password</label>
                                            </div>
                                        </div>
                                        <!-- DOB -->
                                        <div class="row">
                                            <div class="input-field col s4">
                                                <input type="date" class="datepicker">
                                                <label for="dob">Date Of Birth</label>
                                            </div>
                                            <!-- Section -->
                                            <div class="input-field col s8">
                                                <select>
                                                    <option value="" disabled selected>Select a Section</option>
                                                    <option value="1">Housing Inspection</option>
                                                    <option value="2">Environmental & Health Inspections</option>
                                                    <option value="3">Market Control Inspection</option>
                                                </select>
                                                <label>Section</label>
                                            </div>
                                        </div>
                                        <!-- Designation -->
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <select>
                                                    <option value="" disabled selected>Select A Level</option>
                                                    <option value="1">Administrator</option>
                                                    <option value="2">Inspector</option>
                                                    <option value="3">Supervisor</option>
                                                    <option value="4">Manager</option>
                                                    <option value="5">Director</option>
                                                    <option value="6">Data Entry (workers)</option>
                                                </select>
                                                <label>Designation</label>
                                            </div>
                                        </div>
                                        <!-- Reports to -->
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <select>
                                                    <option value="" disabled selected="selected">Choose an option</option>
                                                    <option value="11">عبدالعزيز وهاس</option>
                                                    <option value="33">عادل شحاته بخيت</option>
                                                    <option value="34">زكي سليم المحمادي</option>
                                                    <option value="35">مسفر محسن الغامدي</option>
                                                    <option value="36">عبدالعزيز طارق سندي</option>
                                                    <option value="37">نواف عبدالله الغيثي</option>
                                                    <option value="38">عبدالله منصور الاحمدي</option>
                                                    <option value="39">ياسر احمد سبيه</option>
                                                    <option value="40">حسن محمد عسيري</option>
                                                    <option value="41">عمار عيد الجهني</option>
                                                    <option value="42">المهندس / صلاح بن مصلح المحمدي</option>
                                                    <option value="43">المهندس/ موسى بن عيسى المالكي</option>
                                                    <option value="44">مروان يوسف كعكي</option>
                                                    <option value="45">عبدالله علي الزهراني</option>
                                                    <option value="46">احمد سلوم العوفي</option>
                                                    <option value="47">علي بن محمد النهدي</option>
                                                    <option value="48">محمد بن عبيد الصريصري</option>
                                                    <option value="49">محمد بن سليمان البلوي</option>
                                                    <option value="50">Data Entry Worker</option>
                                                    <option value="51">رائد عبدالمجيد الفاخري</option>
                                                    <option value="53">عبدالله محمد الخربوش</option>
                                                    <option value="54">عطية عطيان الرفاعي</option>
                                                    <option value="56">احمد ناصر البلوي</option>
                                                    <option value="57">مساعد أحمد الأحمدي</option>
                                                    <option value="58">محمد حسين بطيش</option>
                                                    <option value="59">احمد الجهيني</option>
                                                    <option value="60">احمد الشهابي</option>
                                                    <option value="61">عبدالله المحياوي</option>
                                                    <option value="62">محمد ناجي الإدريسي</option>
                                                    <option value="63">Sayed Bukhari </option>
                                                    <option value="64">عبدالله سليمان الصبحي</option>
                                                    <option value="65">عبدالعزيز زارع </option>
                                                    <option value="66">عبد الرحمن القرشي</option>
                                                </select>
                                                <label>Reports to</label>
                                            </div>
                                        </div>
                                        <!-- Contact Information -->
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input id="inspector_contact_info" type="text">
                                                <label for="inspector_contact_info">Contact Information</label>
                                            </div>
                                        </div>
                                        <!-- Address -->
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input id="inspector_address" type="text">
                                                <label for="inspector_address">Address</label>
                                            </div>
                                        </div>
                                        <!-- Status -->
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <select>
                                                    <option value="1" selected>Active</option>
                                                    <option value="2">Blocked</option>
                                                </select>
                                                <label>Status</label>
                                            </div>
                                        </div>
                                        <!-- file selection -->
                                        <div class="row">
                                            <div class="file-field input-field col s12">
                                                <div class="col s6">
                                                    <input class="file-path validate" type="text" />
                                                </div>
                                                <div class="col s6">
                                                    <div class="btn">
                                                        <span>Browse</span>
                                                        <input type="file" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row"></div>
                                        <div class="row">
                                          <button class="btn" onclick="reset_signature()" type="button">Reset Signature</button>
                                          <div id="signature"></div>
                                        </div>
                                        <div class="row">
                                          <button class="btn waves-effect waves-light " type="submit" name="action">Create</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END CONTENT -->
            <!-- //////////////////////////////////////////////////////////////////////////// -->
            <!-- START RIGHT SIDEBAR NAV-->
            <aside id="right-sidebar-nav">
                <ul id="chat-out" class="side-nav rightside-navigation">
                    <li class="li-hover">
                        <a href="#" data-activates="chat-out" class="chat-close-collapse right"><i class="mdi-navigation-close"></i></a>
                        <div id="right-search" class="row">
                            <form class="col s12">
                                <div class="input-field">
                                    <i class="mdi-action-search prefix"></i>
                                    <input id="icon_prefix3" type="text" class="validate">
                                    <label for="icon_prefix">Search</label>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li class="li-hover">
                        <ul class="chat-collapsible" data-collapsible="expandable">
                            <li>
                                <div class="collapsible-header teal white-text active"><i class="mdi-social-whatshot"></i>Recent Activity</div>
                                <div class="collapsible-body recent-activity">
                                    <div class="recent-activity-list chat-out-list row">
                                        <div class="col s3 recent-activity-list-icon"><i class="mdi-action-add-shopping-cart"></i>
                                        </div>
                                        <div class="col s9 recent-activity-list-text">
                                            <a href="#">just now</a>
                                            <p>Jim Doe Purchased new equipments for zonal office.</p>
                                        </div>
                                    </div>
                                    <div class="recent-activity-list chat-out-list row">
                                        <div class="col s3 recent-activity-list-icon"><i class="mdi-device-airplanemode-on"></i>
                                        </div>
                                        <div class="col s9 recent-activity-list-text">
                                            <a href="#">Yesterday</a>
                                            <p>Your Next flight for USA will be on 15th August 2015.</p>
                                        </div>
                                    </div>
                                    <div class="recent-activity-list chat-out-list row">
                                        <div class="col s3 recent-activity-list-icon"><i class="mdi-action-settings-voice"></i>
                                        </div>
                                        <div class="col s9 recent-activity-list-text">
                                            <a href="#">5 Days Ago</a>
                                            <p>Natalya Parker Send you a voice mail for next conference.</p>
                                        </div>
                                    </div>
                                    <div class="recent-activity-list chat-out-list row">
                                        <div class="col s3 recent-activity-list-icon"><i class="mdi-action-store"></i>
                                        </div>
                                        <div class="col s9 recent-activity-list-text">
                                            <a href="#">Last Week</a>
                                            <p>Jessy Jay open a new store at S.G Road.</p>
                                        </div>
                                    </div>
                                    <div class="recent-activity-list chat-out-list row">
                                        <div class="col s3 recent-activity-list-icon"><i class="mdi-action-settings-voice"></i>
                                        </div>
                                        <div class="col s9 recent-activity-list-text">
                                            <a href="#">5 Days Ago</a>
                                            <p>Natalya Parker Send you a voice mail for next conference.</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header light-blue white-text active"><i class="mdi-editor-attach-money"></i>Sales Repoart</div>
                                <div class="collapsible-body sales-repoart">
                                    <div class="sales-repoart-list  chat-out-list row">
                                        <div class="col s8">Target Salse</div>
                                        <div class="col s4"><span id="sales-line-1"></span>
                                        </div>
                                    </div>
                                    <div class="sales-repoart-list chat-out-list row">
                                        <div class="col s8">Payment Due</div>
                                        <div class="col s4"><span id="sales-bar-1"></span>
                                        </div>
                                    </div>
                                    <div class="sales-repoart-list chat-out-list row">
                                        <div class="col s8">Total Delivery</div>
                                        <div class="col s4"><span id="sales-line-2"></span>
                                        </div>
                                    </div>
                                    <div class="sales-repoart-list chat-out-list row">
                                        <div class="col s8">Total Progress</div>
                                        <div class="col s4"><span id="sales-bar-2"></span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header red white-text"><i class="mdi-action-stars"></i>Favorite Associates</div>
                                <div class="collapsible-body favorite-associates">
                                    <div class="favorite-associate-list chat-out-list row">
                                        <div class="col s4"><img src="images/avatar.jpg" alt="" class="circle responsive-img online-user valign profile-image">
                                        </div>
                                        <div class="col s8">
                                            <p>Eileen Sideways</p>
                                            <p class="place">Los Angeles, CA</p>
                                        </div>
                                    </div>
                                    <div class="favorite-associate-list chat-out-list row">
                                        <div class="col s4"><img src="images/avatar.jpg" alt="" class="circle responsive-img online-user valign profile-image">
                                        </div>
                                        <div class="col s8">
                                            <p>Zaham Sindil</p>
                                            <p class="place">San Francisco, CA</p>
                                        </div>
                                    </div>
                                    <div class="favorite-associate-list chat-out-list row">
                                        <div class="col s4"><img src="images/avatar.jpg" alt="" class="circle responsive-img offline-user valign profile-image">
                                        </div>
                                        <div class="col s8">
                                            <p>Renov Leongal</p>
                                            <p class="place">Cebu City, Philippines</p>
                                        </div>
                                    </div>
                                    <div class="favorite-associate-list chat-out-list row">
                                        <div class="col s4"><img src="images/avatar.jpg" alt="" class="circle responsive-img online-user valign profile-image">
                                        </div>
                                        <div class="col s8">
                                            <p>Weno Carasbong</p>
                                            <p>Tokyo, Japan</p>
                                        </div>
                                    </div>
                                    <div class="favorite-associate-list chat-out-list row">
                                        <div class="col s4"><img src="images/avatar.jpg" alt="" class="circle responsive-img offline-user valign profile-image">
                                        </div>
                                        <div class="col s8">
                                            <p>Nusja Nawancali</p>
                                            <p class="place">Bangkok, Thailand</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </aside>
            <!-- LEFT RIGHT SIDEBAR NAV-->
        </div>
        <!-- END WRAPPER -->
    </div>
    <!-- END MAIN -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START FOOTER -->
    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                <span>Copyright © 2015 <a class="grey-text text-lighten-4" href="http://themeforest.net/user/geekslabs/portfolio?ref=geekslabs" target="_blank">GeeksLabs</a> All rights reserved.</span>
                <span class="right"> Design and Developed by <a class="grey-text text-lighten-4" href="http://geekslabs.com/">GeeksLabs</a></span>
            </div>
        </div>
    </footer>
    <!-- END FOOTER -->
    <!-- ================================================
    Scripts
    ================================================ -->
    <!-- jQuery Library -->
    <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
    <!--materialize js-->
    <script type="text/javascript" src="js/materialize.js"></script>
    <!--prism-->
    <script type="text/javascript" src="js/prism.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <!-- chartist -->
    <script type="text/javascript" src="js/plugins/chartist-js/chartist.min.js"></script>
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="js/plugins.js"></script>
    <!-- jSignature js -->
    <script type="text/javascript" src="js/jSignature.min.js"></script>
    <script>
    $(document).ready(function() {
        $("#signature").jSignature()
    });

    
    function reset_signature(){
       $("#signature").jSignature('reset'); 
    }
    function check_signature(){
        return true;
    }
</script>
    </script>

</body>

</html>
